* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #025464;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    text-align: center;
    color: #fff;
    margin-top: 12rem;
}

.fa-solid {
    color: #E57C23;
}

.container {
    background-color: #fff;
    width: 90vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 55px 50px 15px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.search-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-box input {
    padding: 5px;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 3px solid #E57C23;
    font-size: 16px;
    color: #333;
}

.search-box button {
    padding: 15px 0;
    width: 25%;
    background-color: #E57C23;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #eee;
    color: #E57C23;
    transition: all 0.2s ease;
}

.fa-solid {
    cursor: pointer;
}

.result {
    position: relative;
}


.result h3 {
    font-size: 30px;
    color: #025464;
}

.result .word {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.result button {
    background-color: transparent;
    color: #E57C23;
    border: none;
    outline: none;
    font-size: 18px;
}


.result .details {
    display: flex;
    gap: 10x;
    color: #E57C23;
    margin: 5px 0 20px 0;
    font-size: 14px;
}

.word-meaning {
    color: #555;
}

.word-example {
    color: #575a7b;
    font-style: italic;
    border-left: 5px solid #E57C23;
    padding-left: 20px;
    margin-top: 30px;
}

.error {
    margin-top: 85px;
    text-align: center;
}

.social {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social h4 {
    padding: 1rem;
}

.social h4 a {
    color: #555;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.2s ease;
}

.social h4 a:hover {
    color: #E57C23;
    transition: all 0.2s ease;
}